<%= render "layouts/header" %>

<div class='main'>
<%# 画面上部の帯部分%>
<div class='title-contents'>
  <h2 class='service-title'>
    Collection of Record Junkies
  </h2>
  <p class='service-explain'>
    お持ちのレーコードを管理できる
  </p>
  <p class='service-explain'>
    他のユーザーのcollectionを閲覧・購入できる
  </p>
  <p class='service-explain'>
    自分のまだ知らない音楽に出会える
  </p>
  <p class='service-explain'>
    あなたもレコード管理初めてみませんか？
  </p>
</div>
<%# /画面上部の帯部分%>

<%# collection一覧%>
<div class='collection-contents'>
<h2 class='title'>新規投稿collection</h2>
<ul class='collection-lists'>
  <% if @collections[0] != nil %>
    <% @collections.each do |collection| %>
    <li class='lists'>
      <%= link_to "/" do %>
      <div class='collection-img-content'>
        <%= image_tag collection.image, class: "collection-img"%>
      </div> 
      <div class='collection-info'>
        <h3 class='title-arist'>
          <%= collection.title %> / <%= collection.artist %>
        </h3>
        <div class='music-status'>
          <div><%= collection.music.name %></div>
          <div><%= collection.status.name %></div>
        </div>
      </div>
      <% end%>
    </li>
  <% end %>
  
  <% else %>
    <li class='lists'>
      <%= link_to "/" do %>
      <%= image_tag '/images/record.jpg', class: "collection-img"%>
      <div class='collection-info'>
        <h3 class='title-arist'>
          タイトル / アーティスト
        </h3>
        <div class='music-status'>
          <span>ジャンル</span>
          <span>管理状態</span>
        </div>
      </div>
      <% end%>
    </li>
  <% end %>

</ul>
</div>
<%# /collection一覧%>

</div>

<%= render "layouts/footer" %>