<%= render "layouts/header" %>

<div class='main'>
<%# 画面上部の帯部分%>
<div class='title-contents'>
  <h2 class='service-title'>
    Collection of Record Junkies
  </h2>
  <p class='service-explain'>
    お持ちのレーコードを管理できる
  </p>
  <p class='service-explain'>
    他のユーザーのcollectionを閲覧・購入できる
  </p>
  <p class='service-explain'>
    自分のまだ知らない音楽に出会える
  </p>
  <p class='service-explain'>
    あなたもレコード管理初めてみませんか？
  </p>
</div>
<%# /画面上部の帯部分%>

<%# collection一覧%>
<div class='collection-contents'>
<%# 検索機能%>
<div class='collection-contents-head'>
  <h2 class='title'>collection検索</h2>
  <%= form_with(url: search_collections_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "曲名やアーティスト名で検索", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
</div>
<%# /検索機能%>

<ul class='collection-lists'>
  <% if @collections[0] != nil %>
    <% @collections.each do |collection| %>
    <li class='lists'>
      <%= link_to collection_path(collection.id) do %>
      <div class='collection-img-content'>
        <%= image_tag collection.image, class: "collection-img"%>
      </div> 
      <div class='collection-info'>
        <div class='music-status'>
          <div><%= collection.music.name %></div>
          <div><%= collection.status.name %></div>
        </div>
        <h3 class='title-arist'>
          <%= collection.title %> <br/>/ <%= collection.artist %>
        </h3>
      </div>
      <% end%>
    </li>
  <% end %>
  
  <% else %>
    <li class='lists'>
      <%= link_to "/" do %>
      <%= image_tag '/images/record.jpg', class: "collection-img"%>
      <div class='collection-info'>
        <div class='music-status'>
          <span>ジャンル</span>
          <span>管理状態</span>
        </div>
        <h3 class='title-arist'>
          タイトル<br/>/アーティスト
        </h3>
      </div>
      <% end%>
    </li>
  <% end %>
  
</ul>
</div>
<%# /collection一覧%>

</div>

<%= render "layouts/footer" %>