<%= render "layouts/header" %>

<div class='main'>

<div class="result-contents">
  <div class="result-text">
    <p>collection検索結果</p>
  </div>
</div>


<%# collection一覧%>
<div class='collection-contents'>
<div class='collection-contents-head'>
  <h2 class='title'>collection検索</h2>
  <%= form_with(url: search_collections_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "曲名やアーティスト名で検索", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
</div>
<ul class='collection-lists'>
  <% if @collections[0] != nil %>
    <% @collections.each do |collection| %>
    <li class='lists'>
      <%= link_to collection_path(collection.id) do %>
      <div class='collection-img-content'>
        <%= image_tag collection.image, class: "collection-img"%>
      </div> 
      <div class='collection-info'>
        <div class='music-status'>
          <div><%= collection.music.name %></div>
          <% if collection.purchase.present? %>
            <span>売却済</span>
          <% else %>
            <div><%= collection.status.name %></div>
          <% end %>
        </div>
        <h3 class='title-arist'>
          <%= collection.title %><br/> / <%= collection.artist %>
        </h3>
      </div>
      <% end%>
    </li>
    <% end %>
  <% else %>
    <h2>該当するcollectionはありません。</h2>
  <% end %>
</ul>
</div>
<%# /collection一覧%>

</div>

<%= render "layouts/footer" %>