<%= render "layouts/header" %>

<%# ユーザーのcollection情報%>
<div class="my-collection-contents">
  <div class="my-collection-nickname">
    <p><%= @nickname %>さんの<span class="my-collection-title">投稿collection</span>一覧</p>
  </div>
  <%= render "layouts/my-collection-info" %>
</div>

<%# /ユーザーのcollection情報%>

<%# ユーザーのcollection一覧%>
<div class='collection-contents'>
<ul class='collection-lists'>
  <% if @collections[0] != nil %>
    
    <%= render "layouts/display" %>

  <% else %>
    <div class="collection-empty">
      <span>投稿されたcollectionはありません。</span>
    </div>
  <% end %>

</ul>
</div>
<%# /ユーザーのcollection一覧%>

<%= render "layouts/footer" %>
