<% @collections.each do |collection| %>
    <li class='lists'>
      <%= link_to collection_path(collection.id) do %>
      <div class='collection-img-content'>
        <%= image_tag collection.image, class: "collection-img"%>
      </div> 
      <div class='collection-info'>
        <div class='music-status'>
          <div><%= collection.music.name %></div>
          <% if collection.purchase.present? %>
            <span>売却済</span>
          <% else %>
            <div><%= collection.status.name %></div>
          <% end %>
        </div>
        <h3 class='title-arist'>
          <%= collection.title %> <br/>/ <%= collection.artist %>
        </h3>
      </div>
      <% end%>
    </li>
  <% end %>