<%#・・・assets/stylsheets/layouts/header.css %>
<header class='top-page-header'>
  <div class='logo-contents'>
   <%= link_to image_tag("crj-logo-black.jpg", class:"crj-icon"), "/" %>
  </div>
  <div class='nav'>
    <% if user_signed_in? %>
      <div class="user_nav">
        <span id="lists"><%= current_user.nickname %>
          <ul class="user__info" id="pulldown">
            <li><%= link_to "マイページ", "/users/#{current_user.id}", class: "my-page", id: "my-page" %></li>
            <li><%= link_to "collection投稿/出品", new_collection_path, class: "post", id: "post" %></li>
            <li><%= link_to wants_user_path(current_user.id) do %>
                   <p class="my-wants" id="my-wants">want <i class="fas fa-record-vinyl" id="icon" style="color:white;"></i> リスト</p>
                <% end %>
            </li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout", id: "logout" %></li>
          </ul>
        </span>
      </div>
    <% else %>
      <div class="user__login">
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      </div>
    <% end %>
  </div>
</header>